<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Narcís V2</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.js"></script>
</head>
<body>
    <v-app id="app">
        <v-container fill-height>
            <v-row justify ="center" align-items = "center">
                <v-col cols="10" sm = "3">
                    <v-text-field id="user"
                        v-model="user"
                        :counter="30"
                        label="User"
                        required
                    ></v-text-field>
                    <v-text-field id="passwd"
                        type="password"
                        v-model="passwd"
                        :counter="30"
                        label="Password"
                        required
                    ></v-text-field>
                    <v-btn dark color="light-blue" @click = "getData" @click="snackbar = true">
                        Sign Up
                    </v-btn>
                    </v-col>
                    <v-snackbar v-model="snackbar" :timeout="timeout">
                        {{ text }}
                        <template v-slot:action="{ attrs }">
                        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
                            <v-icon>
                                mdi-close
                            </v-icon>
                        </v-btn>
                        </template>
                    </v-snackbar>
            </v-row>
        </v-container>
    </v-app>
    <script src="index.js"></script>
</body>
</html>